@font-face {
    font-family: AncientEgyptianHieroglyphs;
    src: url("../fonts/AncientEgyptianHieroglyphs.otf") format("opentype");
}

:root {
    --color-console: #7fff00;
    --color-input: #00ffcc;
    --blue-tb: #00ffcc;
    --color-button: #00ffcc;
}

body {
    background-color: #000;
    color: var(--color-console);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#sidebar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 20px;
    padding: 20px;
}

#sidebar button {
    width: 200px;
    padding: 10px 20px;
    background-color:  var(--color-button);
    border-radius: 10px;
    border: none;
    color:#000 ;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
}

#app {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    max-width: 800px;
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--color-console);
}

#output-container {
    white-space: pre-wrap; /*  préserve tous les espaces et sauts de ligne dans le texte */
    overflow-y: auto; /* barre de défilement verticale si le contenu dépasse 500 */
    height: 600px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#input {
    font-family: 'Courier New', Courier, monospace;
    width: 90%;
    height: 30px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--color-console);
    background-color: #111;
    color: var(--color-input);
    border-radius: 5px;
    font-size: 14px;
}

#instructions {
    font-size: 17px;
    padding: 10px;
    text-align: center;
    line-height: 25px;
}

#feedback {
    color: var(--color-input);
    font-size: 17px;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.hieroglyph {
    font-family: 'AncientEgyptianHieroglyphs';
    font-size: 35px;
    line-height: 60px;
    letter-spacing: 10px;
    word-spacing: 30px;
    margin-top: 0;
}

.titre {
    font-size: 18px;
    margin: 0;
}

.infos-combat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
}

.infos-combat > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.infos-combat p {
    margin: 0;
    padding: 0;
}

.infos-combat p:first-child {
    padding-bottom: 20px;
    font-size: 17px;
}

.banniere {
    width: 100%;
    height: 30%;
    margin-bottom: 0;
    display: none; 
}

#banniere-egypte {
    /* Styles spécifiques pour la bannière de l'Égypte Antique */
    filter: grayscale(100%) contrast(90%);
}

#banniere-grece {
    /* Styles spécifiques pour la bannière de la Grèce Antique */
    filter: grayscale(100%) contrast(95%);
}

#banniere-moyen-age {
    /* Styles spécifiques pour la bannière du Moyen Âge */
    filter: grayscale(100%) contrast(112%);
}
